<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World!</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
    <p>Say something to the world
      <div>
        <input type="text" ng-model="greeting" ng-init="greeting='Peace out, '"></p>
      </div>
    <p>{{ greeting }} world!</p>

    <input type="text" ng-model="myName" ng-init="name='BoJack'" placeholder="What is your name?" />
    <h3>My name is: {{ myName }}</h3>

    <select ng-model="choice" ng-init="choice='FLUFFIES!'">
      <option value="dogs">Dogs</option>
      <option value="Cats">Cats</option>
      <option value="Both">Both</option>
      <option value="Neither">Neither</option>
    </select>
    <h3>I love {{ choice }}</h3>
    <hr />

    <h2>1.4 Playing with Expressions</h2>
    <p>1 + 2 = {{ 1 + 2 }}</p>
    <p>My name is {{ "BoJack " + "Horseman" }}</p>
    <p>the arry [99, 43, 22] is {{ [99, 43, 22].length }} items long</p>
    <p>{{ 3.14159265359 | currency }}</p>
    <p>{{ 3.14159265359 | currency:"€" }}</p>
    <p>Round to 3 decimals: {{ 3.14159265359 | number:3 }}</p>
    <p>Round to 6 decimals: {{ 3.14159265359 | number:6 }}</p>
    <p>Round to 1 decimal: {{ 3.14159265359 | number:1 }}</p>

    <h3>How many digits of pi do you want?</h3>
    <select ng-model="digits">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <div>
      <p><ng-pluralize count="digits" when="{
          '1':'Here you go! The first 1 digit of pi:',
          'other':'Here you go! The first {{digits}} of pi:'
        }">
      </ng-pluralize></p>
    </div>
    <p>{{ 3.14159265359 | number:digits }}</p>

    <h3>Tip Calculator</h3>
    <p>How much did your meal cost?</p>
    <input type="text" ng-model="cost" />
    <p>How much do you want to tip?</p>
    <select ng-model="tip">
      <option value=".1">10%</option>
      <option value=".15">15%</option>
      <option value=".2">20%</option>
    </select>
    <h4>Subtotal: {{ cost | currency }}</h4>
    <h4>Tip: {{ cost * tip | currency }}</h4>

    <h3>Please say something:</h3>
    <div>
      <input type="text" ng-model="quote" />
    </div>
    <p>Yelling: {{ quote | uppercase }}</p>
    <p>Whispering: {{ quote | lowercase }}</p>

    <div>{{this}}</div>
    <hr />

    <!-- 1.5 Built-in Directives -->
    <h2>1.5 Built-In Directives</h2>

    <!-- ng-repeat -->
    <h3>ng-repeat</h3>
      <ul>
        <li ng-repeat="name in names"> <!--- names array located in body tag -->
          {{ name }}
        </li>
      </ul>

      <ul ng-init="names=['Harry', 'Ron', 'Hermione', 'Sirius', 'Hedwig', 'Tonks']">
        <li ng-repeat="name in names">
          {{ name }}
        </li>
      </ul>

      <ul ng-init="symbols=['&#9824;', '&#9827;', '&#9829;', '&#9830;']">
        <li ng-repeat="symbol in symbols">
          {{ symbol }}
        </li>
      </ul>

      <!-- Repeat duplicates -->
      <h4>Dealing with duplicates:</h4>
      <ul ng-init="numbers=[1,1,2,5,6,9,9,9]">
        <li ng-repeat="i in numbers track by $index">
          {{ i }}
        </li>
      </ul>

    <!-- ng-show/hide -->
    <h3>ng-show/hide</h3>
      <div ng-show='3 + 4 == 5'>
        3 + 4 isn't 5, don't show
      </div>

      <div ng-show='3 + 4 == 7'>
        3 + 4 is 7, do show
      </div>

      <div ng-hide='3 + 4 == 5'>
          3 + 4 isn't 5, don't hide
      </div>

      <div ng-hide='3 + 4 == 7'>
        3 + 4 is 7, do hide
      </div>

      <h4>Sign Up Page</h4>
      <input type="text" ng-model="password" />
      <p>Your password is {{ password.length }} characters</p>
      <button ng-show="password.length == 6">Sign up!</button>
      <p ng-show="password.length != 6">Password invalid</p>

    <!-- ng-class -->
    <h3>ng-class</h3>
      <div ng-class='{highlight: 4 + 4 == 8}'>4 + 4 = 8</div>
      <div ng-class='{highlight: 4 + 4 == 10}'>4 + 4 = 10</div>

      <h4>Sign Up Page</h4>
      <input type="text" ng-model="password" />
      <p class="red" ng-class="{green: password.length == 6}">Your password is {{ password.length }} characters</p>
      <button ng-show="password.length == 6" >Sign up!</button>
      <p ng-show="password.length != 6">Password invalid</p>

    <!-- See Angular-Camera-Shop github repo -->
    <h3>Camera Shop exercise (separate in Github)</h3>
    <hr />


    <!-- 1.6 Intro to Controllers -->
    <h2>1.6 Intro to Controllers</h2>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
